
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/index.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
   <h1>Books</h1>
   <div id="addBook">
    <form id="submitForm">
        
        <input id="name" name="title" type="text" placeholder="Please Enter BookName">

        <button  id="submit" type="submit">Submit</button>

   </form>
   </div>
   <div id="purchase_books_list">
    
   </div>
   <h1>
    Returned Books
   </h1>
   <div id="return_book_list">
    
   </div>
   
   
   
  
    <script src="/index.js"></script>
</body>
</html>